section {
    padding: 50px 0px 0px 0px;
}

.grade-input {
    display: inline;
    margin: 0 5px 10px 5px;
    background-color: rgb(240, 240, 240);
    font-family: Arial;
    text-align: center;
}

.weight-input {
    display: inline;
    margin: 0 5px 10px 5px;
    width: 100px;
    background-color: rgb(240,240,240);
    font-family: Arial;
    text-align: center;
}

.centered-text {
    text-align: center;
    font-family: Arial;
}

.bold-text {
    font-weight: bold;
}

.highlight-invalid {
    border: 1px solid red;
    background-color: #ffd0a0;
}

.standard-button {
    background-color: rgb(240,240,240);
    cursor: pointer;
}

.checkbox {
    margin: 5px;
}

.section-div {
    background-color: rgb(225,225,225);
    border-radius: 10px;
}

#services-container {
    width: 60%;
}

#inputContainer {
    display: block;
    margin: auto;
    width: 40%;
}

#left-column {
    margin-left: 25%;
}

#right-column {
    margin-right: 25%;
}

#spinner {
    text-align: center;
    width: 50px;
}