<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="Alejandro Doberenz">

		<title>Grade Calculator</title>

		<link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">		<!-- Bootstrap CSS	-->
		<link href="../static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">	<!-- Plugin CSS		-->
		<link href="../static/css/creative.css" rel="stylesheet">							<!-- Creative CSS	-->
		<link href="../static/css/custom.css" rel="stylesheet">								<!-- Custom CSS		-->

	</head>

	<body id="page-top">

		<!-- Navigation Bar -->
		<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">

			<div class="container">
				<a class="navbar-brand js-scroll-trigger" href="#page-top">Grade Calculator</a>
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="#services">Calculator</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
						</li>
					</ul>
				</div>
			</div>

		</nav>

		<!-- First section |TITLE| -->
		<header class="masthead text-center text-white d-flex" id="title-section">

			<div class="container my-auto">

				<div class="row">

					<div class="col-lg-10 mx-auto">
						<h1 class="text-uppercase"><strong>An Easy Way to Calculate Your Grades</strong></h1>
						<hr>
					</div>
					<div class="col-lg-8 mx-auto">
						<p class="text-faded mb-5">This grade calculator can help you find exactly what you need to prepare for!</p>
						<a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
					</div>

				</div>

			</div>

		</header>

		<!-- Second section |CALCULATOR| -->
		<section id="services">
			<div class="container" id="services-container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h2 class="section-heading">Enter your grades below!</h2>
						<p>Enter your grade into the fields on the left below. You can add more with the "Add Field" button, or remove them with the "Remove Field" button.
							Submit when you want to find the average of your grades.
						</p>
						<p>By default, weighting is turned off, so each grade is as important as each other. This is
							ideal if you are calculating something such as your semester, six weeks, or section grade. However, most classes use sections such as quizzes,
							homework, and daily work, which are all weighted differently from each other. You can enable weighting on the bottom right.</p>
						<hr class="my-4">
						<div id="inputContainer">
							<input type="text" placeholder="Grade #1" class="grade-input">
							<input type="text" placeholder="Weight (%)" class="weight-input">
						</div>
						<button class="standard-button" onclick="submitButtonClicked()">Submit</button>
						<button class="standard-button" onclick="addFieldButton()">Add Field</button>
						<button class="standard-button" onclick="removeFieldButton()">Remove Field</button>
						<input type="number" onchange="spinnerChanged()" id='spinner'>
						<input class="checkbox" id="averageCheckbox" type="checkbox" name="average" value="true"> Weighting
					</div>
				</div>
			</div>
		</section>

		<!-- Third Section |CONTACT| -->
		<section id="contact">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 mx-auto text-center">
						<h2 class="section-heading">Let's Get In Touch!</h2>
						<hr class="my-4">
						<p class="mb-5">If you find any errors, have any concerns, or have any suggestions, feel free to contact me.</p>
					</div>
				</div>
				</div>
				<div class="centered-text">
					<p><a href="mailto:doberenz.alejandro@gmail.com">doberenz.alejandro@gmail.com</a></p>
				</div>
			</div>
		</section>

		<script src="../static/vendor/jquery/jquery.min.js"></script>					<!-- JQuery JS		-->
		<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>	<!-- Bootstrap JS	-->
		<script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>		<!-- Plugin JS		-->
		<script src="../static/vendor/scrollreveal/scrollreveal.min.js"></script>
		<script src="../static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script src="../static/js/creative.min.js"></script>							<!-- Creative JS	-->
		<script src="../static/js/custom.js"></script>									<!-- Custom JS		-->

	</body>

</html>